@import "./fishes.css";
@import "./tips.css";
@import "./locations.css";
@import "./quotes.css";

main {
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('https://tse4.mm.bing.net/th?id=OIP.OYiBOazUUQGII2aeyW29cQHaEK&pid=Api&P=0&w=377&h=213')

}

body {
    font-family: 'Josefin Sans', sans-serif;

}

.bodyHeader {
    text-align: center;
}

.container {
    display: flex;
    padding: 3rem;
}

.bordered {
    
}

.bottom-space {
    margin-bottom: 3rem;
}

.flex-container-left {
    flex: 3;
}

