@import "./fishes.css";
@import "./tips.css";
@import "./locations.css";
@import "./quotes.css";

main {
    background-repeat: repeat;
    background-size: contain;
    background-image: url('http://www.drodd.com/images14/blue30.png')

}

body {
    font-family: 'Josefin Sans';

}

.bodyHeader {
    text-align: center;
}

.container {
    display: flex;
    padding: 3rem;
}

.bordered {
    
}

.bottom-space {
    margin-bottom: 3rem;
}

.flex-container-left {
    flex: 3;
}

